<?xml version="1.0"?>
<launch>

    <!-- Map Server -->
    <arg name="map_file" default="$(find home_service)/map/home_service_map.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL Node -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
    
        <!-- Overall Filter Parameters -->
        <param name="min_particles" value="30"/>
        <param name="max_particles" value="500"/>
        <param name="update_min_a" value="0.05"/>
        <param name="update_min_d" value="0.1"/> 
        
        <!-- Optionally: Define initial pose --> 
        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="0"/>
        <param name="initial_pose_a" value="0"/>  
        
        <!-- Laser Parameters -->
        <param name="laser_max_beams" value="30"/>
        <param name="laser_z_rand" value="0.03"/>
        <param name="laser_z_hit" value="0.95"/> 
        
        <!-- Odometry -->
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="base_frame_id" value="base_footprint"/>
        <param name="global_frame_id" value="map"/>
        <param name="odom_alpha1" value="0.0001"/>
        <param name="odom_alpha2" value="0.0001"/>
        <param name="odom_alpha3" value="0.0001"/>
        <param name="odom_alpha4" value="0.0001"/>
    
    </node>

    <!-- Move Base Node -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

        <rosparam file="$(find home_service)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find home_service)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find home_service)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find home_service)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find home_service)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch>